<div class="container">
	<h1>Edit Article</h1>
	<div class="row">
		<div class="col-md-12">
			<%= render 'form' %>
				<button class="btn btn-default"><%= link_to 'Cancel', articles_path %></button>
			</div>
		</div>
		</div>
	</div>
</div>